<!----PROJSERVCONTACT.EJS, PETER JOHN SOTO, SN: 301271157, 10.6.2022,      ------>
<!----TEMPLATE FOR PAGES (PROJECTS, SERVICES, & CONTACT ME) (BODY CONTENT) ------>

<% if (title == "Projects") { %>
    <div id="Projects" class="container-fluid">
        <div class="row projectBG">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="container">
                    <br><br>
                    <h1 class="projecTitle"><strong>RECENT PROJECTS</strong></h1>
                    <br>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8 p-5">
                        <div class="row">
                            <h1>SOFTWARE DEVELOPMENT</h1>
                            <div class="col-sm-4 ">
                                <div class="thumbnail">
                                    <img src="images/PROJECT_SD_01_THUMB.png" alt="testImg" width="400" height="300">
                                    <p><strong>API PLUGINS</strong></p>
                                    <p2>Using Tekla Structure API</p2>

                                    <div class="caption">
                                        <p><a href="https://www.youtube.com/embed/UMjM-XnUXHk" class="btn btnProj btn-dark">View</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <img src="images/PROJECT_SD_02_THUMB.png" alt="testImg" width="400" height="300">
                                    <p><strong>WINDOWS APPLICATION</strong></p>
                                    <p2>Using C# Language</p2>

                                    <div class="caption">
                                        <p><a href="images/PROJECT_SD_02.jpg" class="btn btnProj btn-dark">View</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                <img src="images/PROJECT_SD_03.jpg" alt="testImg" width="400" height="300">
                                <p><strong>VB APPLICATION</strong></p>
                                <p2>Using Visual Basic</p2>

                                <div class="caption">
                                    <p><a href="images/PROJECT_SD_03.jpg" class="btn btnProj btn-dark">View</a></p>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h1>ENGINEERING</h1>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <img src="images/PROJECT_EN_01_THUMB.png" alt="testImg" width="400" height="300">
                                    <p><strong>BIM MODELING</strong></p>
                                    <p2>Using BIM Software: REVIT STRUCTURE</p2>

                                    <div class="caption">
                                        <p><a href="images/SOTO-BIM-SAMPLE.pdf" class="btn btnProj btn-dark">View</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <img src="images/PROJECT_EN_02_THUMB.png" alt="testImg" width="400" height="300">
                                    <p><strong>CLASH CHECKING</strong></p>
                                    <p2>Using BIM Software: NAVISWORKS</p2>

                                    <div class="caption">
                                        <p><a href="images/PROJECT_EN_02.jpg" class="btn btnProj btn-dark">View</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <img src="images/PROJECT_EN_03_THUMB.png" alt="testImg" width="400" height="300">
                                    <p><strong>ENERGY MODELING</strong></p>
                                    <p2>Using BIM Software: REVIT STRUCTURE</p2>

                                    <div class="caption">
                                        <p><a href="images/PROJECT_EN_03.jpg" class="btn btnProj btn-dark">View</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h1>MULTIMEDIA</h1>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <img src="images/PROJECT_GD_01_THUMB.png" alt="testImg" width="400" height="300">
                                    <p><strong>3D VISUALIZATION</strong></p>
                                    <p2>Rendered using Twin Motion & Escape</p2>
                                
                                    <div class="caption">
                                        <p><a href="https://kuula.co/share/collection/7qjFV?logo=1&info=1&fs=1&vr=0&initload=0&thumbs=2&margin=1" class="btn btnProj btn-dark">View</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <img src="images/PROJECT_GD_02_THUMB.png" alt="testImg" width="400" height="300">
                                    <p><strong>LOGO DESIGN</strong></p>
                                    <p2>Design using Adobe Photoshop
                                        <br>
                                    </p2>

                                    <div class="caption">
                                        <p><a href="images/PROJECT_GD_02.png" class="btn btnProj btn-dark">View</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <img src="images/PROJECT_GD_03_THUMB.png" alt="Client_Logo" width="400" height="300">
                                    <p><strong>GRAPHIC DESIGN</strong></p>
                                    <p2>Design using Adobe Photoshop</p2>
                                    
                                    <div class="caption">
                                        <p><a href="images/PROJECT_GD_03.png" class="btn btnProj btn-dark">View</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div> 
    </div> 
<% } else if (title == "Services") { %>
    <div id="Services" class="container-fluid bg-light">
        <div class="row rowServices">
            <div class = "serviceRowStart"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class = "servicesRow">
                        <br><br>
                        <h1 class="letsConnect">SERVICES</h1>
                        <br>
                        <p class = "text-center"> We offer tons of services from engineering, software development and multi-media.</p>
                        <br><br>
                        <div class="col-sm-4 text-center">
                            <h3>
                                <p><span class="bi-laptop"></span> &nbsp;SOFTWARE DEV</p>
                            </h3>
                            <h2 class="text-left">
                                <p><span class="bi-caret-right"></span> &nbsp;WINDOWS APPLICATION</p>
                                <p><span class="bi-caret-right"></span> &nbsp;API DEVELOPMENT</p>
                                <p><span class="bi-caret-right"></span> &nbsp;VB APPLICATIONS</p>
                            </h2>
                        </div>
                        <div class="col-sm-4 text-center">
                            <h3>
                                <p><span class="bi-pencil-square"></span> &nbsp;ENGINEERING</p>
                            </h3>
                            <h2 class="text-left">
                                <p><span class="bi-caret-right"></span> &nbsp;BIM MODELING</p>
                                <p><span class="bi-caret-right"></span> &nbsp;RENDERING</p>
                                <p><span class="bi-caret-right"></span> &nbsp;DETAILING</p>
                            </h2>
                        </div>
                        <div class="col-sm-4 text-center">
                            <h3>
                                <p><span class="bi-images"></span> &nbsp;MULTIMEDIA</p>
                            </h3>
                            <h2 class="text-left">
                                <p><span class="bi-caret-right"></span> &nbsp;GRAPHIC DESIGN</p>
                                <p><span class="bi-caret-right"></span> &nbsp;LOGO DESIGN</p>
                                <p><span class="bi-caret-right"></span> &nbsp;IMAGE EDITING</p>
                            </h2>
                        </div>
                    </div> 
                </div>
            </div>
            <div class = "serviceRowStart"></div>
        </div>
    </div> 
<% } else { %>
    <div id="ContactMe" class="container-fluid bg-light">
        <div class="row ">
            <div class = "contactMeRowStart"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class = "contactMeRow">
                        <br><br>
                        <h1 class="letsConnect">LET&#x2019S CONNECT!</h1>
                        <br><br>
                        <div class="row">
                            <div class="col-sm-5 contactMeInfo">
                                <p>Leave a <strong>Message</strong> | Drop a <strong>Call</strong> | or just Say <span class="text-warning">
                                    <strong>Hi!</strong>
                                </span></p>
                                <p><span class="glyphicon glyphicon-map-marker"></span> &nbsp;  &nbsp; Ajax, ON</p>
                                <p><span class="glyphicon glyphicon-phone"></span> &nbsp;  &nbsp; +226-973-50-63</p>
                                <p><span class="glyphicon glyphicon-envelope"></span> &nbsp;  &nbsp; engr.petersoto@gmail.com</p>
                            </div>
                        <div class="col-sm-7 slideanim">
                            <form action="/ThankYou" method="POST" name="registration">
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <input class="form-control" id="firstName" name="firstName" value="<%= locals.firstName %>" type="text" required>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <input class="form-control" id="emailAd" name="emailAd" value="<%= locals.emailAd %>" type="email" required>
                                    </div>
                                </div>
                                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="9"></textarea><br>
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <button class="btn btn-info pull-right" type="submit">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> 
                </div>
            </div>
            <div class = "contactMeRowStart"></div>

            
            
        </div>
    </div> 
<% } %> 